<nav class="navbar">
    <div class="heading">
       <a class="title" href="/">Memes R' Us</a>
    </div>
    <div class="cart">
        <a class="cart-link" href="/my-cart">
            Cart <span class="cart-size-badge">{{ cart_size }}</span>
        </a>
    </div>
</nav>